BIODROP_MONGO_CONNECTION_STRING="mongodb://localhost:27017/biodrop"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NODE_ENV="development"

GITHUB_ID="Iv1.b5f603f2ce699443"
GITHUB_SECRET="48289f753c1ad14f04ad370edcc559f4dff28a93"
NEXTAUTH_SECRET="123456"
NEXTAUTH_URL="http://localhost:3000"

GOOGLE_CLIENT_ID ="962649823952-uns3eehp0fmpmq6hv3q0ikgleul5hf24.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"

BIODROP_API_SECRET="development"
GITHUB_API_TOKEN=""
RANDOM_USERS="eddiejaoude,sarajaoude"
ADMIN_USERS="eddiejaoude,SaraJaoude,_test-admin-user"

STRIPE_SECRET_KEY=""
STRIPE_PREMIUM_PRICING_ID=""
STRIPE_WEBHOOK_SECRET=""
NEXT_PUBLIC_PREMIUM_SUPPORT_URL=""

VERCEL_PROJECT_ID=""
VERCEL_TEAM_ID=""
VERCEL_AUTH_TOKEN=""
